section.number__field {
    position: relative;
    background-color: rgb(145, 175, 120);
    border-radius: 0.5rem;
    height: 20%;
    font-size: 35px;
    padding: 10px;
    word-break: break-all;
}

section.number__field .smaller__field__size {
    font-size: 20px;
}

span.number__field__content {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(0, 0, 0);
}