* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 233, 231, 0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.container {
    height: 500px;
    width: 350px;
    color: #fafaf7;
    background-color: #282828;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 1rem;
}

section.number__field {
    position: relative;
    background-color: rgb(145, 175, 120);
    border-radius: 0.5rem;
    height: 20%;
    font-size: 50px;
}

span.number__field__content {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(0, 0, 0);
}